# Dependencies & Installed Packages
node_modules/
.pnpm-store/
pnpm-lock.yaml

# Build Outputs
.next/
dist/
build/
out/
target/
.turbo/
*.apk
*.aab

# Android & Gradle
.gradle/
app/build/
local.properties
captures/
.externalNativeBuild
.cxx/
*.apk

# iOS & Xcode
Pods/
DerivedData/
*.xcworkspace/xcuserdata
*.aria2

# Environment Variables & Local Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & Editor Files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.log

.github/
